// ------------------------------
// - LESS Variables
// ------------------------------

// Colors
// -------------------------


// Typography
// -------------------------
$normal-font-size: 1em;
$normal-line-height: 1.5;
$base-font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;


// Paths
// -------------------------
$img-path: "../../../img";
$font-path: '../../../fonts';
$fa-font-path: $font-path + '/FontAwesome' !default;
