<html>
<head>
    <meta charset="UTF-8"/>
    <style>
        .content{
            background-image: url("{{ domain }}assets/img/combien-de-temps-de-vie-en-couple.jpg");
            width: 626px;
            height: 328px;
        }
        .coeur{
            background-image: url("{{ domain }}assets/img/coeur.png");
            width: 200px;
            height: 201px;
            position: absolute;
            top: 100px;
            left: 350px;
        }
        .profil{
            position: absolute;
            top: 90px;
            left: 50px;
        }
        .ombre{
            position: absolute;
            top: 88px;
            z-index: 100;
            left: 49px;
            width: 198px;
        }
        .annee{
            color: #FFFFFF;
            font-size: 50px;
            position: absolute;
            top: 50px;
            left: 53px;
            line-height: 40px;
            text-align: center;
            font-family: helvetica;
        }
        .title{
            background: rgba(0, 0, 0, 0.3);
            height: 70px;
            color: #FFFFFF;
            font-size: 28px;
            text-align: center;
            font-family: helvetica;
        }

    </style>
</head>
<body>
<div class="content">
    <div class="title">Combien d'années de sa vie {{ prenom|title }} va passer en couple ?</div>
    <img class="ombre" src="{{ domain }}assets/img/ombre.png" alt="">
    <img class="profil" src="{{ img }}" alt="">
    <div class="coeur"><span class="annee">{{ annee }}<br> ans</span></div>
</div>
</body>
</html>
