{% extends 'FrontBundle::layout.html.twig' %}
{% block content %}
    {% javascripts



    filter='?uglifyjs2'
    combine=true %}

    {% endjavascripts %}

    <div class="quizz">
        <div class="image-quizz">img</div>
        <div class="question">Question du quizz</div>
        <a href="{{ path('front_combien_temps_couple_quizz') }}"> Faire le test</a>
    </div>


{% endblock %}
