{% extends '::base.html.twig' %}

{% block stylesheet_head %}
    {% stylesheets 'assets/admin/sass/main.scss'
    'assets/vendor/font-awesome/css/font-awesome.css'
    'assets/vendor/chosen/chosen.min.css'
    'assets/vendor/jquery-ui/themes/redmond/jquery-ui.css'
    filter='scss,?uglifycss,cssrewrite' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
    {% endstylesheets %}

    <link rel="stylesheet" href="{{ asset('assets/vendor/chosen/chosen.min.css') }}" type="text/css">

    {% javascripts
    'assets/vendor/jquery/dist/jquery.js'
    'assets/vendor/jquery-ui/jquery-ui.js'
    'bundles/fosjsrouting/js/router.js'
    'assets/vendor/moment/moment.js'
    'assets/vendor/jquery-ui/ui/datepicker.js'
    'assets/vendor/jquery-ui/ui/i18n/datepicker-fr.js'
    filter='?uglifyjs2' combine=true %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

{% endblock %}

{% block body %}



    <header class="navbar">
        <div class="container">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".sidebar-nav.navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand col-lg-2 col-sm-1 col-xs-12" href="{{ path('admin_homepage') }}">
                <span>Devenez Proprio</span>
            </a>

            <div class="nav-no-collapse header-nav">
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown">
                        <a class="btn account dropdown-toggle" data-toggle="dropdown" href="index.html#">
                            <span class="avatar"></span>
                            <div class="user">
                                <span class="hello">Bonjour !</span>
                                <span class="name"></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-menu-title"></li>
                            <li><a href=""><i class="fa fa-off"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div id="sidebar-left" class="col-lg-2 col-sm-1">
                <div class="nav-collapse sidebar-nav collapse navbar-collapse bs-navbar-collapse">
                    {{ knp_menu_render('AdminBundle:MenuBuilder:mainMenu') }}
                </div>
            </div>

            <div id="content" class="col-lg-10 col-sm-11">
                {% block content '' %}
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <footer>
    </footer>
{% endblock %}

{% block javascripts_footer %}
    {% javascripts
    'assets/vendor/bootstrap-sass/assets/javascripts/bootstrap.js'
    'assets/vendor/chosen/chosen.jquery.min.js'
    'assets/front/js/form-cache-div.js'
    'assets/admin/js/confirm_action.js'
    filter='?uglifyjs2'
    combine=true
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

    {% javascripts
    'assets/admin/js/form.js'
    'assets/admin/js/main.js'
    filter='?uglifyjs2'
    combine=true
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
