body{
  background-color: #f5f6f7;
}

.navbar.navbar-custom {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 8px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 8px rgba(0,0,0,.2);
  box-shadow: 0 1px 8px rgba(0,0,0,.2);
}

.bloc-right{

}

.wrapper{
  width: 950px;
  margin: auto;
}

.pub{
  width: 300px;
  height:600px;
  background-color: red;
}
