// ------------------------------
// - Media Query Debug module
// ------------------------------

body {
    background: mediumorchid;
}

@media screen and (min-width: $screen-xs-min) {
    body {
        background: red;
    }
}

@media screen and (min-width: $screen-sm-min) {
    body {
        background: blue;
    }
}

@media screen and (min-width: $screen-md-min) {
    body {
        background: yellow;
    }
}

@media screen and (min-width: $screen-lg-min) {
    body {
        background: green;
    }
}
