// ------------------------------
// - Menu Module
// ------------------------------

.dropdown-menu{
    min-width: 200px;
    background: none;
    border: 0;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: none;
}
