// ------------------------------
// - Base Rules
// ------------------------------

#plupload, #pluploadSalaire, #pluploadContrat, #pluploadImpot, #pluploadCompte, #pluploadLoyer, #pluploadPret, #pluploadElement, #pluploadRib{
    a,a:hover{
            text-decoration: none;
    }
    #droparea, #dropareaSalaire, #dropareaContrat, #dropareaImpot, #dropareaCompte, #dropareaLoyer, #dropareaPret,#dropareaElement, #dropareaRib{
        border: dashed 2px #CECCCD;
        height: 130px;
        text-align: center;
        background: rgb(255, 255, 255);
        background: rgba(255, 255, 255,0.5);
        color: #3D7199;
        cursor: pointer;


        p{
            text-align: center;
            margin: 0;
            padding: 15px 0 0 0 ;
            font-size: 14px;
            font-weight: bold;

        }
        span{display: block;  text-align: center;}
        &.hover{
            border: solid 2px #3D7199;
        }
    }
    #filelist, #filelistSalaire, #filelistContrat, #filelistImpot, #filelistCompte, #filelistLoyer, #filelistPret,#filelistElement, #filelistRib{
        background: rgb(255, 255, 255);
        background: rgba(255, 255, 255,0.5);
        margin-top: 3px;


        p{
            width: 90%;
            overflow: hidden;
            text-overflow:    ellipsis;
            white-space: nowrap;
            line-height: 30px;
            margin: 0;
            display: inline-block;
            font-weight: bold;
            color: #3D7199;

        }

        .file{
            border: 1px solid #3D7199 ;
            padding: 0 10px;
            height: 60px;
            line-height: 20px;
            margin-bottom: 5px;
            position: relative;
            border-radius: 5px;
        }
        .progress{
            display: none;
            background-color: #DCDCDC;
        }

        .deleteFile{
            float: right;
        }
        .success{
            background-color: #dff0d8;
        }

    }
    #upload, #uploadSalaire, #uploadContrat, #uploadImpot, #uploadCompte, #uploadLoyer, #uploadPret, #uploadElement, #uploadRib{
        width: 100%;
    }
}
