{% extends 'FrontBundle::layout.html.twig' %}

{% trans_default_domain "front" %}

{% block content_title %}{{ 'registration.title.confirmed'|trans({'%username%': user.displayName}) }}{% endblock %}

{% block content %}
    <div class="login-box">
        {{ 'registration.info.account_activated'|trans }}

        <hr>

        {# TODO - Change the path as soon as the front controller is added #}
        <a href="{{ path('bw_admin_dashboard_homepage') }}" class="btn btn-primary btn-block">
            {{ 'registration.action.go_to_app'|trans }}
        </a>
    </div>
{% endblock %}
