{% extends form.vars.submitted == true
? 'FrontBundle::layout.html.twig' : 'FOSUserBundle::layout.html.twig' %}
{% block content %}
    {% if form.vars.submitted == true %}
    <div class="container-fluid">
        <div class="row img_head" style="background-color:#dde7f0;">
            <img  src="{{ asset('assets/img/donateur_final.jpg') }}">
        </div>
    </div>
    {% endif %}
        <div class="row">
            <div class="col-md-{% if form.vars.submitted == false%}6{% else %}12{% endif %}">
                <div class="gd_bleu" style="width:100%; text-align:center;">
                    <h1>Vous êtes nouveau par ici ?</h1>
                    <span>Inscrivez-vous dès maintenant</span>
                </div>
                <div style="max-width:330px; margin: 10px auto 0;">
                    <form action="{{ path("fos_user_registration_register") }}" method="POST"
                          class="form-horizontal">
                        <fieldset>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    {{ form_row(form.email) }}
                                    {{ form_row(form.plainPassword) }}
                                </div>
                            </div>
                            {{ form_rest(form) }}
                            <div class="form-group">
                                <div class="col-sm-12">

                                    <button type="submit" class="btn btn-default btn_connexion">Inscription
                                    </button>
                                </div>
                            </div>
                            <p style="font-size: 10px">
                                En cliquant sur Inscription, vous acceptez
                                <a style="font-size: 10px" target="_blank"
                                   href="{{ asset('pdf/devenez-proprio_cgu_cgv_septembre-2015.pdf') }}">
                                    nos CGU / CGV
                                </a>.
                            </p>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}
