{% extends 'FOSUserBundle::layout.html.twig' %}

{% trans_default_domain "front" %}

{% block fos_user_content %}

    <div class="login-box">
        <h2>{{ 'security.title.log_in'|trans }}</h2>

        <form action="{{ path("fos_user_security_check") }}" method="POST" class="form-horizontal">
            <fieldset>
                {% if error %}
                    <div class="note note-danger">
                        {{ error|trans({}, 'FOSUserBundle') }}
                    </div>
                {% endif %}

                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">

                <input class="input-large col-xs-12" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="{{ 'security.placeholder.email'|trans }}" autofocus required>

                <input class="input-large col-xs-12" type="password" id="password" name="_password" placeholder="{{ 'security.placeholder.password'|trans }}">

                <div class="clearfix"></div>

                <label class="remember" for="remember">
                    <input type="checkbox" id="remember">
                    {{ 'security.label.remember_me'|trans }}
                </label>

                <div class="clearfix"></div>

                <button type="submit" class="btn btn-primary col-xs-12">
                    {{ 'security.action.log_in'|trans }}
                </button>
            </fieldset>

        </form>

        <hr>

        <h3>
            <a href="{{ path('fos_user_resetting_request') }}">
                {{ 'security.action.forgot_password'|trans }}
            </a>
        </h3>
    </div>
{% endblock %}
