// ------------------------------
// Note Module
// ------------------------------


// Overrides
// ------------------------------
.login-box input[type="text"],
.login-box input[type="password"],
.login-box input[type="email"] {
    width: 100%;
}

input[placeholder], [placeholder], *[placeholder] {
    color: $gray-dark !important;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: $gray-dark;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: $gray-dark;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: $gray-dark;
}

// Registration Box
// ------------------------------
.registration-box {
    width: 500px;
}
