{% extends '::base.html.twig' %}

{% block stylesheet_head %}
    {% stylesheets
    'assets/admin/sass/main.scss'
    filter='scss,?uglifycss,cssrewrite' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% block fos_user_content %}{% endblock fos_user_content %}
        </div>
    </div>
{% endblock %}
