{% extends 'FrontBundle::layout.html.twig' %}

{% trans_default_domain "front" %}

{% block content_title %}{{ 'password_recovery.title'|trans }}{% endblock %}

{% block content %}

    <div id="inscription">
        <div class="container-fluid">
            <div class="row img_head" style="background-color:#dde7f0;">
                <img src="{{ asset('assets/img/donateur_final.jpg') }}">
            </div>
        </div>

        <div class="container-fluid content_cam">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <p>{{ 'resetting.password_already_requested'|trans }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
