{% extends 'FrontBundle::layout.html.twig' %}

{% trans_default_domain "front" %}

{% block content_title %}{{ 'password_recovery.title'|trans }}{% endblock %}

{% block content %}

    <div id="inscription">
        <div class="container-fluid">
            <div class="row img_head" style="background-color:#dde7f0;">
                <img src="{{ asset('assets/img/donateur_final.jpg') }}">
            </div>
        </div>

        <div class="container-fluid content_cam">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="gd_bleu" style="width:100%; text-align:center;">
                            <span>Mot de passe oublié ?</span>
                        </div>
                        <div style="max-width:330px; margin: 10px auto 0;">
                            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="form-horizontal">
                                <fieldset>

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label class="control-label" for="username">
                                                Saisir votre email pour recevoir un nouveau mot de passe
                                            </label>
                                        </div>
                                    </div>

                                    {% if invalid_username is defined %}
                                        <ul class="list-unstyled note note-danger">
                                            <li>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</li>
                                        </ul>
                                    {% endif %}
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <input type="text" id="username" name="username" required="required">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button class="btn btn-default btn-btn_inscription" type="submit">Valider</button>

                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
