{% extends 'FrontBundle::layout.html.twig' %}

{% trans_default_domain "front" %}

{% block content %}

    <div id="inscription">
        <div class="container-fluid">
            <div class="row img_head" style="background-color:#dde7f0;">
                <img src="{{ asset('assets/img/donateur_final.jpg') }}">
            </div>
        </div>

        <div class="container-fluid content_cam">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="gd_bleu" style="width:100%; text-align:center;">
                            <label class="control-label" for="username">
                                <h2>{{ 'password_recovery.title'|trans }}</h2>
                            </label>
                        </div>
                        <div style="max-width:330px; margin: 10px auto 0;">
                            <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" method="POST" class="form-horizontal">
                                <fieldset>



                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            {{ form_widget(form) }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <button class="btn btn-default btn-btn_inscription" type="submit">
                                                {{ 'password_recovery.action.update'|trans }}
                                            </button>

                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
