{% extends '::base.html.twig' %}
{% block page_title %}{% endblock %}
{% block stylesheet_head %}
    {% stylesheets
    'assets/front/sass/main.scss'
    'assets/vendor/font-awesome/css/font-awesome.css'
    'assets/vendor/jquery-ui/themes/redmond/jquery-ui.css'
    filter='scss,?uglifycss,cssrewrite' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
    {% endstylesheets %}
    {% javascripts
    'assets/vendor/jquery/dist/jquery.js'
    'assets/vendor/jquery-ui/jquery-ui.js'
    'bundles/fosjsrouting/js/router.js'
    'assets/vendor/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js'
    'assets/vendor/jquery-ui/ui/datepicker.js'
    'assets/vendor/jquery-ui/ui/i18n/datepicker-fr.js'
    'assets/front/js/collection_handler.js'
    filter='?uglifyjs2'
    combine=true %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}
{% block body %}
    <header>
        <nav class="navbar navbar-custom" role="navigation">
            <div class="wrapper">
                <div class="navbar-header">
                    <a class="navbar-brand" href="">
                        <img src="">
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <div class="wrapper">
         <div class="bloc-content col-md-8">
        {% block content %}{% endblock %}
    </div>
    <div class="bloc-right col-md-4">
        <div class="pub"></div>
    </div>

    </div>
    <footer class="block">


    </footer>

{% endblock %}

{% block javascripts_footer %}

    {% javascripts
    'assets/front/js/main.js'
    filter='?uglifyjs2'
    combine=true %}

    <script src="{{ asset_url }}" type="text/javascript"></script>

    {% endjavascripts %}
    {{ google_analytics() }}
{% endblock %}
