// ------------------------------
// Index Module
// ------------------------------


.quizz{
    background-color: #FFFFFF;
    width: 100%;
    height: 100px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 5px 5px 12px -5px rgba(0,0,0,0.2);
    -moz-box-shadow: 5px 5px 12px -5px rgba(0,0,0,0.2);
    box-shadow: 5px 5px 12px -5px rgba(0,0,0,0.2);
    margin-bottom: 20px;
    .image-quizz{

    }
    .question-quizz{

    }
}
