// ------------------------------
// Input Module
// ------------------------------

.fileinput-button input {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0px;
    height: 100%;
    @include opacity(0);
    font-size: 200px;
    direction: ltr;
    cursor: pointer;

}
input[type="file"] {
    display: block;
}

.input-file{
    height: 120px;
    border: 2px solid #cfcfcf;
    background: #fff;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
}
.txtVous, .txtProjet, .txtProfil{
    color: #557ea1;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 9px;
    height: 75px;
}

.txtDon{
    color: #557ea1;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 9px;
    height: 65px;
}

.plus{
    color: #dbdada;
    text-align: center;
    cursor: pointer;
}
