{% block subject %}Demande de nouveau mot de passe{% endblock %}


{% block body_html %}
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
</head>
<body marginheight="0" topmargin="0" marginwidth="0" leftmargin="0"
      style="margin:auto!important; background-color: #fff; bgcolor:#fff;">

<!--100% body table-->
<table cellspacing="0" border="0" cellpadding="0" width="600" align="center" style="margin:auto;">
    <tr valign="top">
        <td>
            <!--container-->
            <table cellspacing="0" border="0" align="center" cellpadding="0" width="600" style="margin:auto!important;">
                <tr>
                    <td>
                        <!--header-->
                        <table cellspacing="0" border="0" id="header" cellpadding="0" width="600" align="center"
                               style="position: relative; height: 150px;">
                            <tr>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <!--contenu principal-->


                                    <table cellspacing="0" border="0" cellpadding="0" width="600" align="center">
                                        <tr>

                                            <td width="600">

                                                <table cellspacing="0" border="0" cellpadding="0" width="600"
                                                       height="84" align="center">

                                                    <tr>
                                                        <td width="290">
                                                            <a href="http://www.devenez-proprio.fr/" target="_blank"><img
                                                                        width="290" width="84" align="left"
                                                                        alt="Devenez Proprio"
                                                                        src="http://devenez-proprio.fr/images/crm/devenezproprio-logo.png"
                                                                        border="0"
                                                                        style="display: block; margin: 0;"></a>

                                                        <td width="310"
                                                            style="text-align:center;margin: 0px;background-color:#DDE7F0;bg-color:#DDE7F0;valign:middle;vertical-align:middle;color:#3D7199;font-family: Arial, Helvetica, sans-serif;font-size:18px;font-weight:bold;">
                                                            Mot de passe oublié
                                                        </td>
                                                    </tr>
                                                </table>


                                            </td>
                                        </tr>
                                    </table>
                                    <!-- contenu -->

                                    <table border="0" cellspacing="0" cellpadding="5"
                                           style="font-family: Arial, sans-serif;">

                                        <tr><!-- intro -->
                                            <td colspan="2" width="600">
                                                <p style="font-weight:bold;font-size:14px;color:#000000;">Vous avez demandé à changer de mot de passe </p>

                                                <p style="font-weight:normal;font-size:14px;color:#3D7199;font-style: italic;">
                                                    Veuillez suivre le lien suivant: <a href="{{ confirmationUrl }}"></a>{{ confirmationUrl }}</p>

                                                <p style="font-weight:normal;font-size:14px;color:#000000;">Si ce n'est pas le cas, ignorez cet email. </p>

                                                <p style="font-weight:normal;font-size:14px;color:#000000;">A très
                                                    vite,</p>

                                                <p style="font-weight:normal;font-size:14px;color:#3D7199;font-style: italic;">
                                                    L'équipe DevenezProprio</p>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="2" align="center"
                                                style="font-weight:normal;font-size:14px;color:#000000;font-family: Arial, Helvetica, sans-serif;">
                                                <hr style="background-color: #AFAFAF; height: 1px; border: 0;">
                                                <p style="font-weight:normal;font-size:14px;color:#3D7199;font-style: normal;">
                                                    Restez en contact avec nous : </p>
                                                <a href="http://www.devenez-proprio.fr/" target="_blank"><img width="60"
                                                                                                              width="60"
                                                                                                              alt="Devenez Proprio"
                                                                                                              src="http://devenez-proprio.fr/images/crm/devenezproprio-site.png"
                                                                                                              border="0"
                                                                                                              style="margin-right:15px;"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                                                        href="https://www.facebook.com/DevenezProprio?ref=hl"
                                                        target="_blank"><img width="60" width="60"
                                                                             alt="Devenez Proprio - Facebook"
                                                                             src="http://devenez-proprio.fr/images/crm/facebook-site.png"
                                                                             border="0" style="margin-right:15px;"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                                                        href="https://twitter.com/DevenezProprio" target="_blank"><img
                                                            width="60" width="60" alt="Devenez Proprio - Twitter"
                                                            src="http://devenez-proprio.fr/images/crm/twitter-site.png"
                                                            border="0" style="margin-left:15px;"></a>
                                                <hr style="background-color: #AFAFAF; height: 1px; border: 0;">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="2" style="font-family: Arial, Helvetica, sans-serif;"
                                                valign="top">
                                                <p style="font-weight:normal;font-size:12px;color:#3D7199;font-style: italic;">
                                                    DevenezProprio est une plateforme de financement participatif
                                                    régulée par les autorités françaises.<br>Orias : 15003942</p>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="2" align="center">
                                                <a href="http://www.devenez-proprio.fr/" target="_blank"><img
                                                            src="http://devenez-proprio.fr/images/crm/decouvrez-les-projets.jpg"
                                                            alt="Découvrez les projets" width="300" height="60"></a>
                                            </td>
                                        </tr>

                                    </table>
                                    <!-- /contenu -->

                                    <!--footer-->
                                    <table cellspacing="0" border="0" id="footer" cellpadding="5" width="600"
                                           style="margin:auto;">
                                        <tr>
                                            <td valign="top" width="600">
                                            </td>
                                        </tr>
                                    </table>
                                    <!--/footer-->


                                </td>
                            </tr>
                        </table>
                        <!--container-->


                    </td>
                </tr>
            </table>
            <!--container-->

        </td>
    </tr>
</table>
<!--/100% body table-->
</body>

{% endblock %}
